
header,
.welcome-parallax,
.home-aboutus,
.home-doctor,
.home-featured-procedures,
.surgery-through-the-ages,
footer 
{
	// display: none !important;
}

/*===============================================
=            Welcome to my Website!             =
===============================================*/

.welcome-parallax {
	@include media($desktop) {
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.welcome {
	background: #fff url("images/bg-welcome.jpg") top center no-repeat;
	// background-size: cover;
	background-size: 1400px auto;
	background-position-x: -900px; 
	background-position-y: -260px; 
	z-index: 1000;
	height: 667px;
	position: relative;
	@include media(600px) {
		background-position-x: right 0px; 
	}
	@include media($tablet) {
		background: #fff url("images/bg-welcome.jpg") top center no-repeat;
		background-size: cover;
		height: 700px;
	}
	@include media($desktop) {
		background: none;
		height: 100vh;
		min-height: 768px;
	}

 

	.welcome-cta {
		border-radius: 10px;
		font-family: $secondaryFont;
		// border: 1px solid rgba($lightColor, .5) ;
		color: $lightColor;
		background: rgba($darkColor, .7);
		position: relative;
		max-width: 600px;
		padding: 20px;
		margin-left: 20px;
		margin-right: 20px;
		position: absolute;
		bottom: 10px;
		@include media($tablet) {
			top: 100px;
			position: relative;
			margin:0 auto;
			padding: 60px 40px;
			margin-right: 40%;
			top: 200px;
		}
		@include media($desktop) {
			top: 30vh;
		}
		h2 {
			margin-top: 0;
			@include media($tablet) {
				font-size: 60px
			}
		}
		h3 {
			@include media($tablet) {
				font-size: 27px
			}
		}
		p {
			max-width: 670px;
			margin: 0 auto;
			margin-top: 40px;
			// margin-bottom: 20px;
			font-family: $primaryFont;
		}
	}

	.mouse-down {
		display: none;
		@include media($desktop) {
			display: block;
			bottom: 15px;
			left: 0;
			right: 0;
			position: absolute;
			bottom: 40px;
			font-size: 40px;
		}
		a {
			color: $lightColor;
		}
	}
}

.we-can-help {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 100px;
	padding-bottom: 100px;
	background: $darkColor;
	color: $lightColor;
	.the-boxes {
		margin-top: 40px;
		margin-bottom: 40px;
		@include media($tablet) {
			display: flex;	
			margin-top: 100px;
			margin-bottom: 40px;
			justify-content: space-around;
		}
		.the-box {
			position: relative;
			width: 100%;
			padding: 20px;
			border: 1px solid $lightColor;
			margin-bottom: 60px;
			@include media($tablet) {
				margin-bottom: 0px;
				width: 30%;
				max-width: 500px;
				padding: 40px;
				padding-bottom: 60px;
			}
		}
		.button {
			background: $lightColor;
			@include media($tablet) {
			position: absolute;
			bottom: -20px;
			right: calc( 50% - 130px;);
			width: 260px;
			border-left: 30px solid $darkColor;
			border-right: 30px solid $darkColor;
				
			}
			&:hover {
				color: $darkColor;
			}
		}
	}
}